.home {
  display: flex;
  flex-direction: column;
}

.section {
  min-height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section1 {
  background-color: #e3f2fd; /* Blue background */
  text-align: left;
}

.section2 {
  background-color: #f0f0f0; /* Light background for recent posts */
  padding: 50px 0;
}

.section3 {
  background-color: #e3f2fd; /* Red background */

}

.cta-button {
  margin-top: 20px;
}

.fade-in-text{
  text-align: left;
}
 

.fade-in-text .word {
  opacity: 0;
  display: inline-block;
  animation: fadeIn 0.8s forwards;

}

.fade-in-text .word:nth-child(1) {
  animation-delay: 0.5s;
}

.fade-in-text .word:nth-child(2) {
  animation-delay: 1.0s;
}

.fade-in-text .word:nth-child(3) {
  animation-delay: 1.5s;
}

.fade-in-text .word:nth-child(4) {
  animation-delay: 2.0s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}