/* src/pages/PostCreatePage.css */
.edit {
  padding: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.is-empty:first-child::before {
    --gray-4: #D3D3D3;
    color: var(--gray-4);
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

.is-empty::before {
    --gray-4: #D3D3D3;
    color: var(--gray-4);
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

/* src/pages/PostCreatePage.css */
.post-content {
  font-family: 'Georgia', serif;
  font-size: 18px;
  line-height: 1.8;
  color: #333;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

.post-heading {
  font-size:2em;
}

.post-content h3 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
}

.post-content p {
  margin-bottom: 16px;
}

.post-content blockquote {
  margin: 20px 0;
  padding: 10px 20px;
  background-color: #f1f1f1;
  border-left: 4px solid #ccc;
  font-style: italic;
}
